{% extends "monitor/base.html" %}

{% block title %}Liên hệ - Công cụ kiểm tra tính khả dụng của phần mềm nền Web{% endblock %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="clearfix container-fluid py-3">
    <div class="art-article"><p class="text-center">
        <strong class=""><span>TRUNG TÂM CÔNG NGHỆ THÔNG TIN VÀ TRUYỀN THÔNG CẦN THƠ</span></strong>
    </p>
        <p>
            <span>Địa chỉ: 29 đường Cách Mạng Tháng Tám, phường Thới Bình, quận Ninh Kiều, thành phố Cần Thơ</span>
        </p>
        <p>
            <span>Số điện thoại: 02923 690 888&nbsp;</span>
        </p>
        <p>
            <span>Fax: 08 07 12 13&nbsp;</span>
        </p>
        <p><span>Email: <span
                id="cloaka728d1df0944be8a89a08223a883e803"><a href="mailto:ctict@cantho.gov.vn"><span
                style="color: black; text-decoration: none;">ctict@cantho.gov.vn</span></a></span><script
                type="text/javascript">
				document.getElementById('cloaka728d1df0944be8a89a08223a883e803').innerHTML = '';
                var prefix = 'ma' + 'il' + 'to';
                var path = 'hr' + 'ef' + '=';
                var addya728d1df0944be8a89a08223a883e803 = 'ctict' + '@';
                addya728d1df0944be8a89a08223a883e803 = addya728d1df0944be8a89a08223a883e803 + 'cantho' + '.' + 'gov' + '.' + 'vn';
                var addy_texta728d1df0944be8a89a08223a883e803 = '<span style="color: black; text-decoration: none;">ctict' + '@' + 'cantho' + '.' + 'gov' + '.' + 'vn</span>';
                document.getElementById('cloaka728d1df0944be8a89a08223a883e803').innerHTML += '<a ' + path + '\'' + prefix + ':' + addya728d1df0944be8a89a08223a883e803 + '\'>' + addy_texta728d1df0944be8a89a08223a883e803 + '<\/a>';
		</script>&nbsp;</span></p>
        <p class="text-center">
            <strong><span>ĐIỆN THOẠI TỪNG BỘ PHẬN</span></strong>
        </p>
        <p>
            <span>1. Ban Giám đốc: 02923 690 699</span>
        </p>
        <p>
            <span>2. Phòng Hành chính - <span>Đào tạo</span>: 02923 690 888; Fax: 08 07 12 13</span>
        </p>
        <p>
            <span>3. Phòng Hạ tầng kỹ thuật: 08 07 12 14</span>
        </p>
        <p>
            <span>4. Phòng Ứng dụng CNTT: 02923 762 333</span>
        </p>
    </div>
    <div class="container-fluid d-grid gap-2 d-md-flex justify-content-md-end py-1" id="quiz-time-left"></div>
</div>
</body>
</html>
{% endblock %}